
<div class="container" style="margin-top:72px;">
    <h1>이미지 그리기</h1>
    <%= image_tag (@img_name) %>
    <%= image_tag (@img_name) %>
    <br>
    <br>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        이미지를 고르세요 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">모나리자</a></li>
        <li><a href="#">피카츄</a></li>
        <li><a href="#">고흐</a></li>
        <li><a href="#">뭉크</a></li>
        <!--
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
        -->
      </ul>
    </div>
</div>